{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'tasklist/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <title>Lista de tarefas</title>
</head>

<body>
  <h1 style= "margin-top: -350px; padding: 50px; font-size: 40px;">Minha lista de tarefas<span class="dot"></span></h1>
  <div>
    <div class="list-box">

      <div id="task-input">

       
        <ul style="display: flex; list-style-type: none; gap: 10px; ">
          {% for task in tasks %}
          <li class="container {% if task.priority == 'Alta' %}high-priority{% elif task.priority == 'Média' %}medium-priority{% else %}low-priority{% endif %}">
          
              <strong>{{ task.title }}</strong> - {{ task.due_date }} -
              {{ task.priority }}

              <a href="{% url 'edit_task' task.id %}" class="btn btn-edit">Alterar</a>
              <a href="{% url 'delete_task' task.id %}" class="btn btn-delete" onclick="return confirm('Tem certeza que deseja remover esta tarefa?');">Remover</a>
        
          </li>
          {% empty %}
          <p>Você ainda não possuiu tarefas cadastradas.</p>  
          {% endfor %}

        </ul>

        <!--<a href="{% url 'add' %}"><button type="button">Voltar</button></a>-->
          


      </div>


    </div>
  </div>
  </div>

  </div>
</body>

</html>